@font-face {
  font-family: "SEA";
  src: url(https://dojj.github.io/css/UI-Text-Light.otf);
}

html {
  overflow-y: scroll;
}

body {
  font-family: "SEA", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

section {
  display: block;
}

#posts {
  padding: 0;
}

#posts li {
  margin: 0 0 25vh;
}

header,
footer {
  max-width: 1440px;
  margin: 10vh auto;
  height: 32px;
  padding: 21px 2% 19px;
}

footer {
  margin-top: 20vh;
}

#blog footer {
  margin-top: 0;
}

header ol,
header h1,
header p,
footer ol,
footer h1,
footer p {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  line-height: 32px;
}

header ol,
footer ol {
  text-align: center;
  width: 50%;
}

header p,
footer p {
  float: right;
  text-align: right;
}

header ol li,
footer ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 32px;
  display: inline-block;
}

header ol a,
footer ol a {
  padding: 7px 12px;
}

.container {
  padding: 0 2%;
  max-width: 1440px;
  margin: 0 auto;
}

#home .content {
  background-color: #f8f8f9;
  //vertical-align: top;
  //position: relative;
  //padding: 5vh 0;
  margin-bottom: 1.6vh;
}

ul {
  text-align: center;
  list-style: none;
}

.pictures img {
  vertical-align: top;
  max-width: 100%;
}


/* Styles */

h1,
h2,
h5,
ol,
li,
ul,
p,
a {
  font-size: 18px;
  font-weight: inherit;
  text-decoration: none;
  color: #1e1e1c;
}

h2,
h5 {
  text-align: center;
  line-height: 26px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 0;
  display: block;
}

.blog a,
.about-me a,
.email a {
  color: #a0a0a0;
}

a:hover {
  color: #131313;
}

h2 a:hover {
  color: #00bf83;
}

h5 {
  margin-top: 0;
  margin-bottom: 4vh;
}

h5 a {
  color: #a0a0a0;
}

p {
  line-height: 26px;
  max-width: 640px;
  word-wrap: break-word;
  text-align: left;
  margin: 0 auto;
}

/* Blog
   -------------------------------------*/

#vlog .container {
  max-width: 1080px;
  margin: auto;
}

#vlog .blog a {
  color: #1e1e1c;
}

#vlog .work a {
  color: #a0a0a0;
}

#vlog a:hover {
  color: #131313;
}

#vlog h2 a:hover {
  color: #00bf83;
}

#vlog .pictures img {
  max-width: 100%;
  margin: 0 auto 13px;
}

/* About */

#about {
  background: #131313;
}

#about * {
  color: #fff !important;
}

#about header a:hover {
  color: #999 !important;
}

#about .post {
  padding-bottom: 60px;
}

#about .post p {
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  max-width: 80%;
}

/* Mobile
   -------------------------------------*/

@media screen and (max-width: 960px) {
  body {
    margin: 0;
  }

  h1,
  h2,
  h5,
  ol,
  li,
  ul,
  p,
  a {
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    padding: 0;
  }
  header,
  footer {
    margin: 0 auto 12vh;
  }
  footer {
    margin-top: 20vh;
  }
  header ol,
  header h1,
  footer ol,
  footer h1 {
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 24px;
  }
  header ol,
  footer ol {
    text-align: center;
    width: 100%;
  }
  header h1,
  footer h1,
  header p,
  footer p {
    display: none;
  }
  header ol a,
  footer ol a {
    padding: 7px 12px;
  }
  #about .post p {
    max-width: 90% !important;
    text-align: left;
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (max-width: 560px) {
  #about .post p {
    font-size: 26px;
    line-height: 38px;
  }

}
