/* @font-face {
  font-family: 'SEA';
  src: url(https://dojj.github.io/css/UI-Text-Light.otf);
} */

html {
  overflow-y: scroll;
  padding: 0;
}

body {
  /* font-family: 'SEA'; */
  font-family: 'Roboto';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;
  margin: 0;
}

#posts {
  /* margin-bottom: 38vh; */
  /* border: greenyellow 2px solid;  */
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}

#posts li {
  padding-left: 0;
  margin: 0 0 30vh;
}

header,
footer {
  max-width: 1150px;
  margin: 10vh auto;
  height: 32px;
  padding: 21px 2% 19px;
}

footer {
  margin-top: 20vh;
}

/* #blog footer {
  margin-top: 0;
} */

header ol,
header h1,
header p,
footer ol,
footer h1,
footer p {
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  line-height: 32px;
  font-size: 18px;
}

header ol,
footer ol {
  text-align: center;
  width: 50%;
}

header p,
footer p {
  float: right;
  text-align: right;
}

header ol li,
footer ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 32px;
  display: inline-block;
}

header ol a,
footer ol a {
  padding: 7px 12px;
}

/* body
************************************/

.container {
  padding: 0 2%;
  max-width: 1000px;
  /* margin-left: 4%; */
  margin: 0 auto;
}

.article {
  text-align: left;
  max-width: 640px;
  margin: 8% auto 0 auto;
}
.i {
  text-align: center;
}
.i p {
  text-align: center;
}

.flex_container {
  margin: 15% 0 15% 0;
  max-width: 100%;
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.outcome {
  margin-top: 60px;
  max-width: 100%;
}
.outcome h4 {
  font-family: 'Roboto';
  font-weight: 700;
  color: #4080ff;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 21px;
  margin-bottom: 10px;
}
.outcome p {
  color: #1e1e1c;
}

.percentage {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.percentage h2 {
  font-weight: 700;
  color: #4080ff;
  font-size: 120px;
  /* margin: 30px 0 0 0; */
}
.percentage p {
  text-align: center;
}

.datix_flexbox {
  justify-content: space-evenly;
}

.results {
  width: 30%;
}

.results h2 {
  font-weight: 400;
  letter-spacing: -.5px;
}

.img_container {
  max-width: 100%;
}

.shadow {
  max-width: 48%;
  box-shadow: 0 2px 12px rgba(0,0,0,0.18);
}

.description {
  text-align: left;
  max-width: 41%;
  /* padding: 40px; */
  align-items: center;
}
.co {
  padding-top: 40px;
}

img {
  margin-top: 0;
  vertical-align: top;
  max-width: 100%;
  /* border-radius: 5px; */
}

pre {
  max-width: 52%;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-bottom: 0;
}
code {
  margin-top: 0;
  text-align: left;
  font-family: 'roboto mono';
  font-size: 12px;
  line-height: 24px;
  /* max-width: 100%; */
}

._3kb7 {
  background: linear-gradient( to right, rgba(238,238,238,0) 0%, rgba(238,238,238,1) 10%, rgba(238,238,238,1) 90%, rgba(238,238,238,0) 100% );
  height: 1px;
  max-width: 100%;
  margin: 0 auto;
}

/* Styles 
********************************/

h1,
h2,
h3,
h5,
li,
ul,
p,
a { 
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #1d2129;
  /* color: #565b68; */
  /* color: #1e1e1c; */
  font-weight: inherit;
}

.blog a, 
.about a, 
.email a {
  color: #a0a0a0;
}

a:hover {
  color: #1e1e1c;
}

/* .source {
  color: #2C82BE;
} */

h2 {
  //text-align: left;
  margin-top: 0;
  font-size: 24px;
  color: #1d2129;
  line-height: 1.4em;
  margin-bottom: 5%;
}

h3 {
  margin-top: 0;
  max-width: 100%;
  text-align: center;
  margin-bottom: 0;
}

h3 a {
	border: 0;
  text-decoration: none;
}

h5 {
  margin-top: 0;
  font-weight: 300;
	color: #a0a0a0;
	text-align: center;
	margin-bottom: 26px;
}

h5 a {
	color: #a0a0a0;
	text-decoration: none;
	border: 0;
}

p {
  margin-top: 0 auto 0 auto;
  text-align: left;
  font-size: inherit;
  color: #4b4f56;
  max-width: 640px;
  word-wrap: break-word;
  line-height: 1.6em;
}

#learning_objectives li {
  color: #4b4f56;
  text-align: left;
  margin-bottom: 0;
}

#learning_objectives li::before {
  content: "•";
  font-size: 16px;
  color: #3f464b;
  display: inline-block;
  margin-right: 0.7em;
  margin-bottom: 0;
}

/* About 
********************************/

#about {
  background: #131313;
}

#about * {
  color: #fff !important;
}

#about header a:hover {
  color: #999 !important;
}

#about ul {
  padding-left: 0;
  margin-top: 0;
}

#about .container {
  max-width: 75%;
}

#about .post {
  background: #131313!important; 
  padding-bottom: 60px;
}

#about .post p {
  max-width: 100%;
  font-size: 42px;
  line-height: 60px;
  text-align: center;
  margin: auto;
}

/* Mobile
   -------------------------*/

@media screen and (max-width: 960px) {
  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  ol,
  li,
  ul,
  p,
  a {
    font-size: 16px;
    line-height: 24px;
  }
  .container {
    padding: 0;
  }

  #posts li {
    margin: 0 0 100px;
  }

  .percentage p {
    margin-top: 50px;
  }

  #about .post p {
    max-width: 90% !important;
    text-align: left;
    font-size: 36px;
    line-height: 48px;
  }
}

@media screen and (max-width: 560px) {
  #about .post p {
  font-size: 26px;
    line-height: 38px;
  }

  #about ul {
    padding: 0;
  }

  .img_container, .learning_objectives, .metric_container {
    max-width: 100%;
  }

}


@media (min-width: 961px) {
  ._12my {
      margin-bottom: 96px;
  }
}

@media (min-width: 961px)
{
  ._12mx {
      margin-top: 96px;
  }
}

@media (min-width: 320px)
{
  ._12my {
      margin-bottom: 5px;
  }
}


@media (max-width: 320px)
{
  ._12mx {
      margin-top: 15px;
  }
}





/* #down {
  background: #EEEEF4;
  color:#999;
}
#down h1 {
  font-weight:100;
  font-size:35px;
  color:#E43;
}
#down h3, a {
  font-size: 18px;
}
#down a {
  color:#1e1e1c;
}
#down h3 a:hover {
  color: #999;
}
#down .warning-content {
  margin-top: 15%;
  text-align:center;
}

#browser-border {
  max-width:1055px;
  border:solid 1px #f8f8f9;
  border-radius: 5px;
  background-color:white;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 
  0 2px 4px rgba(0,0,0,0.18);
}

#browser-toolbar {
  //background-color:#eeeeee;
  //max-width:100%;
  height:40px;
  //top:50x;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  border-bottom:solid 1px #f8f8f9;
}

#browser-x {
  width:10px;
  height:10px;
  background-color:#FF5D56;
  position:relative;
  margin-top:15px;
  border-radius:50%;
  margin-left:10px;
  float:left;
}

#browser-min {
  width:10px;
  height:10px;
  background-color:#FFBD35;
  position:relative;
  margin-top:15px;
  border-radius:50%;
  margin-left:10px;
  float:left;
}

#browser-full {
  width:10px;
  height:10px;
  background-color:#00CD4A;
  position:relative;
  margin-top:15px;
  border-radius:50%;
  margin-left:10px;
  float:left;
} */

