---
title: blog
permalink: /blog/
---

<!DOCTYPE html>
{% include head.html %}
<!--
   <head>
    <title>Aiden Do / Blog</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://dojj.github.io/css/main.css" type="text/css" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
   
  </head>

<header>
    <h1 class="name"><a href="/">Aiden Do</a></h1>
    <ol>
      <li class="work"><a href="/">Work</a></li>
      <li class="blog"><a href="">Blog</a></li>
      <li class="about-me"><a href="/about/">About</a></li>
    </ol>
    <p class="email"><a href="mailto:jjdo1205@gmail.com?subject=Inquiry">jjdo1205@gmail.com</a></p>
  </header>
 -->
  <body id="vlog">
     
    {% include header.html %}
     
    <section class="container">
      <ul id="posts">
        <li class="new_york">
          <h2>Milan, Italy</h2>
          <h5>september 7th</h5>
          <div class="pictures">
            <img src="/img/milan.jpg" />
            <p></p>
          </div>
        </li>
      </ul>
    </section>
    <footer>
      <h1 class="name"><a href="/">Aiden Do</a></h1>
      <ol>
        <li class="work"><a href="/">Work</a></li>
        <li class="blog"><a href="">Blog</a></li>
        <li class="about-me"><a href="/about/">About</a></li>
      </ol>
      <p class="email"><a href="mailto:jjdo1205@gmail.com?subject=Inquiry">jjdo1205@gmail.com</a></p>
    </footer>

  </body>
</html>
