body {
  background-color: #131313;
}

header {
  margin: 120px 0 !important;
}

.about {
  margin: auto;
  width: 95%;
}

.post {
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}

a,
p {
  color: #fff!important;
}

a:hover {
  color: #a0a0a0!important;
}
