body {
  background-color: #131313!important;
}

.ul {
  margin: 0 0 !important;
}

.about {
  margin: auto;
  width: 80%;
}

.post {
  font-size: 44px;
  line-height: 60px;
  text-align: center;
}

a,
p {
  color: #fff !important;
}

a:hover {
  border-bottom: 2px solid #fff !important;
}
