body {
  margin: 0;
  height: 100%;
}

/*@media screen and (min-width: 700px) {*/
.container {
  display: flex;
  flex-direction: column;
  border: solid orange;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: center;
  }

@media screen and (max-width: 620px)  {
  .box {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 621px)  {
  .box {
    margin: 0;
    padding: 0;
  }
}

.wrapper {
  border: solid blue;
  /*height: 100%;*/
  max-width: 900px;
  margin: 0 auto;
}

.billboard {
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid red;
  margin-bottom: 70px;
}

.a {
  text-align: center;
  word-wrap: break-word;
}

.box {
  border: dotted;
  flex: 0 0 0;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
