body {
  max-width: 1440px;
  padding: 0 2%;
  font-family: "Roboto", sans-serif;
}

footer,
header {
  max-width: 1440px;
  margin: 120px auto;
}

.content {
  max-width: 1440px;
}

.pic {
  display: block;
  width: 100%;
  object-fit: cover;
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.container,
.edu,
.epic,
.faxcoversheet,
.hr,
.kronos,
.metrics,
.payroll {
  background-color: #ffffff;
  border-bottom: 1.3px solid #edeeee;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}

.epic {
  padding-top: 0 !important;
}

.iphone-x {
  height: 600px;
  width: 300px;
  display: inline-block;
  border: 10px solid #080808;
  border-radius: 44px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  position: relative;
  margin-left: 15px;
  padding: 21px 2px;
}

.top-bump {
  position: absolute;
  left: calc(50% - 24%);
  top: 0;
  width: 50%;
  background: #080808;
  height: 24px;
  content: "";
  border-radius: 0 0 15px 15px;
}

.ear-speaker {
  width: 42px;
  min-height: 5px;
  background-color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.camera {
  width: 8px;
  min-height: 8px;
  background-color: white;
  border-radius: 100%;
  margin-left: auto;
  margin-right: 38px;
  margin-top: -6px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.photo1 {
  width: 49.5%;
  margin: 0 0.5% 0 0;
}

.photo2 {
  width: 49.5%;
  margin: 0 0 0 0.5%;
}

.photo3 {
  width: 48.5%;
  margin: 1% 11% 0 1%;
}

.r1 {
  width: 48.5%;
  margin: 0 0.5% 0 1%;
  padding: 2% 0 0;
}

.r2 {
  width: 48.5%;
  margin: 0 1% 0 0.5%;
}

.r3 {
  width: 48.5%;
  margin: 2% 11% 0 1%;
}

.name {
  float: left;
  text-align: left;
  width: 26%;
}

.name a,
.work a {
  color: #484848;
}

.blog {
  padding: 0 24px;
}

.email {
  width: 26%;
  float: right;
  text-align: right;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  font-size: 17.5px;
  font-weight: 100;
  letter-spacing: 0.3px;
}

a {
  /*hyperlinks*/
  color: #889198;
  //color: #a0a0a0; /*slightly lighter shade of grey*/
  text-decoration: none;
}

a:hover {
  color: #484848;
  //color: #131313;
}

h2 {
  /*project titles*/
  text-align: center;
  font-size: 18px;
  color: #484848;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 8px;
  letter-spacing: 0.3px;
  width: 100%;
}

h3 {
  /*this is the only h3. will prolly delete this*/
  font-size: 16px;
  color: #484848;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 7px;
}

.descone {
  width: 40%;
  margin-left: 120px;
  margin-top: 150px;
  margin-bottom: auto;
}

.item {
  margin-left: auto;
  margin-right: auto;
}

.mobile {
  width: 75px;
  object-fit: contain;
}

.desc {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

span {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  padding: 0 250px;
}

.copyright,
.desc,
p,
span {
  font-weight: 300;
  font-size: 16px;
  color: #889198;
  //color: #4B4F56; 'FB design color'
  //color: #5f6a7d;
  line-height: 22px;
  word-wrap: break-word;
  letter-spacing: 0.3px;
}

.device-container.browser-ui:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-radius: 999em;
  background-color: #e0e0e0;
  padding: 3px;
  margin: 6px;
  box-shadow: 9px 0 0 #e0e0e0, 18px 0 0 #e0e0e0;
}

