body {
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/
  }
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/
  }
  .box {
    width: 50%;
  }
}

.wrapper {
  border: solid blue;
  /*height: 100%;*/
  max-width: 1000px;
  margin: auto;
}

.billboard {
  margin-left: auto !important;
  margin-right: auto !important;
  border: solid red;
  margin-bottom: 70px;
}

.a {
  text-align: center;
  word-wrap: break-word;
}

.box img {
  display: block;
  width: 100%;
  object-fit: contain;
}
