<!DOCTYPE html>
  {% include head.html %}

  {% if page.title == 'Work' %}
  <body>
  {% endif %}

  {% include header.html %}

  {{ content }}
   
  {% if page.title != 'About' %}    
  {% include footer.html %}
  {% endif %}
  
  
  <!-- <script>

    var video = "Fireworks"; // Change this to your video ID

    var myXAPI = {};

    ADL.launch(function (err, launchdata, xAPIWrapper) {
      if (!err) {
        ADL.XAPIWrapper = xAPIWrapper;
        myXAPI.actor = launchdata.actor;
        if (launchdata.customData.content) {
          myXAPI.context = {contextActivities: {grouping: [{id: launchdata.customData.content}]}};
        } else {
          myXAPI.context = {
            contextActivities: {
              grouping: [
                {
                  id: "http://adlnet.gov/event/xapiworkshop/launch/no-customData"
                }
              ]
            }
          };
        }
      } else {
        ADL.XAPIWrapper.changeConfig({
          "endpoint":"https://joongjae.waxlrs.com/TCAPI/",
          "auth" : "Basic " + toBase64("VkpIkb7YGaSxMQImksGO:BpdXOyPDTEHe6QtKNq8C")
          // "endpoint":"https://lrs.adlnet.gov/xapi/",
          // "user":"xapi-workshop",
          // "password":"password1234"
        });
        myXAPI.actor = {account: {homePage:"http://example.com/watch-video", name: "Visitor"}};
        myXAPI.context = {contextActivities: {grouping: [{id: "https://w3id.org/xapi/video/extensions"}]}};
      }

      myXAPI.object = {
        id: "https://www.youtube.com/watch?v="+video, 
        definition: {
          name: {
            "en-US": "Fireworks"
          }
        }
      };

      ADL.XAPIYoutubeStatements.changeConfig(myXAPI);

    }, true);

    function initYT() {
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }

    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '390',
        width: '640',
        videoId: 'ZRCWxuL5bCk',
        playerVars: { 'autoplay': 0, 'disablekb': 1, 'showinfo': 0 },
        events: {
          'onReady': ADL.XAPIYoutubeStatements.onPlayerReady,
          'onStateChange': ADL.XAPIYoutubeStatements.onStateChange
        }
      });
    }

    initYT();

  </script> -->

  </body>
</html>